/homework/ABeginning/target/
.DS_Store
/Scratch/target/
/homework/Milestone1/target/
/Milestone2/target/
/ClassRoster/target/
/M2ClassRoster/target/
/M2AddressBook/target/
/M2DVDLibrary/target/
/M3UnitTests/nbproject/
/M3UnitTests/target/
/M2ClassRoster/nbproject/
/M2AddressBook/nbproject/
/M2DVDLibrary/nbproject/
/M3Enums/target/
/M3VendingMachine/target/
/M3VendingMachine/nbproject/